/********** BASE STYLES **********/

body{
    width: auto;
    font-family: 'Lato', sans-serif;
    background-color: #FFFAFF;
}


.half-width{
    width: 50%; 
    float:left;
    height: 960px;
}

header{
    height: fit-content;
}



/********** HEADER *************/

.title{
    float:left;
    padding-left: 50px;
    padding-top: 200px;
}

.title h3 a{
    font-size: 16px;
    color: #8B939C;
    text-decoration: none;
}

.nav{
    float:right;
    padding-top: 205px;
    padding-right: 20px;
}

.nav ul li{
    display: inline-block;
    padding-left: 50px;
}

.nav ul li a{
    font-size: 16px;
    color: #364652;
    text-decoration: none;
}

.intro-content{
    clear: both;
    padding-top: 200px;
}

.intro{
    padding-left: 50px;
}

.intro-img{
    padding-left: 80px;
}


/*********** MAIN *************/

main{
    height:fit-content;
}

#bottom-half{
    overflow: hidden;
}

.main-content{
    padding-top: 300px;
    padding-left: 100px;

}

p{
    font-size: 16px;
    color: #8B939C;
    
}
    

.location{
    padding-top: 200px;
    color: #364652;
}